@media (min-width: 1024px) {
}

.flex-1 {
  flex: 1;
}

.card {
  display: flex;
  max-height: 20rem;
  background-color: white;
  border-radius: 20px;
  padding: 0.2rem;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));

  .card-content {
    min-height: 4rem;
  }

  .card-content,
  .card-rating {
    display: flex;
  }
  .card-subtitle {
    margin-top: 0;
    padding-bottom: 1rem;
  }
  .card-rating {
    gap: 2px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
  }
  .card-txt {
    margin-left: 1rem;
  }
  .card-title {
    margin-top: 0.6rem;
    margin-bottom: 0rem;
    font-size: 1rem;
  }
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  section {
    .row {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
    .card {
      max-height: 25rem;
    }
    .vertical {
      width: auto;
      max-width: none;
      min-width: 25rem;
    }
  }
  .content {
    .sizefix {
      min-width: 21rem;
    }
  }
  .width30 {
    min-width: 27rem;
  }
}

.card img {
  object-fit: cover;
  height: 9rem;
}

.card-rating {
  padding-bottom: 1rem;
}

.horizontal {
  flex-direction: column;
  height: 100%;
}

@media (min-width: 1024px) {
  .horizontal {
    flex-direction: column;
  }

  .vertical {
    width: auto;
    max-width: 19rem;
    min-width: 19rem;
  }
  .row {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content {
    .min-width {
      min-width: 18rem;
    }
  }
    .wrap > a {
      flex: 1 1 30%;
  }
}

.horizontal img {
  margin: 0;
  object-fit: cover;
}

.vertical img {
  width: 30%;
  object-fit: cover;
}

.fullscreen {
  padding: 0;
}

.leftborder img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.topborder img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
